# ignore all of those folders
_Archives/
_Input/
_Output/
Back_up/
Litterature/
#ignore all .csv files
*.csv 
#ignore random files
.DS_Store
.ipynb_checkpoints/
Plotly_test.ipynb
_Snippets/ggsheetAPI_quickstart.py
token.pickle
# ignore all caches
*.pyc
